.App {
 	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
  	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.navigation-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #282c34;
	color: #fff;
	padding: 30px 100px;
}

.navigation-bar ul {
	list-style: none;
	display: flex;
}

.navigation-bar ul li {
	margin-right: 20px;
	cursor: pointer;
	font-size: 20px;
}
.navigation-bar ul li a {
	color: #fff;
	text-decoration: none;
}
.users-container {
	text-align: center;
	margin: 20px 0;
}
.user-container {
	text-align: center;
	margin: 20px 0;
}
h1 {
	text-align: center;
}

